/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #118fd8;
    color: #b11f05;
}
img {
        border-radius: 8%;
        opacity: 0.5;
}
header, footer {
    background-color: #0a011a;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}
.nav-menu li {
    margin: 0 15px;
}
.nav-menu a {
    text-decoration: rgb(121, 235, 8);
    color: rgb(243, 191, 191);
    font-weight: bold;
}
.nav-menu a:hover {
    background-color: #823df0;
}
section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
form input, form textarea, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #c02307;
    border-radius: 5px;
}